
@{
    ViewData["Title"] = "CreateAboutItemWithGoogleGemini";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Google Gemini Hakkımızda Öğeleri Yazı Örneği</h1>

<hr />
@foreach(var item in ViewBag.value as List<string>)
{
    <p>@item</p>
}
