
@{
    ViewData["Title"] = "CreateTestimonialWithClaudeAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var testimonials = ViewBag.testimonials;
}

<div class="container-mt-5">

    <h2>Cladue AI ile Oluşuturlan Müşteri Yorumları</h2>
    <ul class="list-group mt-3">
        @if (testimonials != null)
        {
            foreach (var item in testimonials)
            {
                <li class="list-group-item">@item</li>
            }
        }
        else
        {
            <li class="list-group-item text-danger">Claude'den veri alınamadı: @ViewBag.services</li>
        }
    </ul>

</div>

