@model TrailerVideo
@{
    ViewData["Title"] = "CreateTrailerVideo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Video Girişi</h5>

        </div>
        <div class="table-responsive mt-3">

            <form method="post">

                <label>Video Başlığı</label>
                <input type="text" asp-for="Title" class="form-control" />
                <br />

                <label>Kapak Görseli</label>
                <input type="text" asp-for="CoverImageUrl" class="form-control" />
                <br />

                <label>Video Youtube Embed Url</label>
                <input type="text" asp-for="VideoUrl" class="form-control" />

                <br />
                <br />
                <button class="btn btn-outline-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>

