@model About
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Hakkında Girişi</h5>

        </div>
        <div class="table-responsive mt-3">

            <form method="post">

                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="Title" />
                <br />

                <label>Görsel</label>
                <input type="text" class="form-control" asp-for="ImageUrl" />
                <br />

                <label>Açıklama</label>
                <textarea rows="5" class="form-control" asp-for="Description"> </textarea>
                <br />
                <br />
                <button class="btn btn-outline-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>



