@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">

    @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    <header class="header-area header-three">
        @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

        @await Component.InvokeAsync("_DefaultHeaderContactComponentPartial")

        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")
    </header>

    @await Component.InvokeAsync("_DefaultMobileMenuComponentPartial")

    <main>

        @await Component.InvokeAsync("_BlogListBreadCrumbComponentPartial")

        <section class="inner-blog b-details-p pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details-wrap">
                            @await Component.InvokeAsync("_BlogDetailContentComponentPartial", new { id = ViewBag.id })

                            @await Component.InvokeAsync("_BlogDetailNextAndPrevPostComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailAboutAuthorComponentPartial")

                            @await Component.InvokeAsync("_BlogDetailCommentListComponentPartial", new { id = ViewBag.id })
                            @await Component.InvokeAsync("_BlogDetailAddCommentComponentPartial")

                           
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <aside class="sidebar-widget">
                            @await Component.InvokeAsync("_BlogListSearchComponentPartial")
                            @await Component.InvokeAsync("_BlogListSocialMediaComponentPartial")
                            @await Component.InvokeAsync("_BlogListCategoriesComponentPartial")
                            @await Component.InvokeAsync("_BlogListLast3RecentPostComponentPartial")
                            @await Component.InvokeAsync("_BlogListTagComponentPartial")
                        </aside>
                    </div>

                </div>
            </div>
        </section>

        @await Component.InvokeAsync("_DefaultSubscribtionComponentPartial")

    </main>

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptsComponentPartial")
</body>
</html>
